<main class="prose">

  <h1 class="p-2 m-2 bg-SswRed">{{ title }}</h1>

  <div class="m-2">
  <label for="exercise-select">Select Exercise:</label>
  <select id="exercise-select" [(ngModel)]="selectedExerciseId" (change)="onExerciseChange($event)">
    @for (exercise of exercises; track exercise.id) {
      <option [value]="exercise.id">{{ exercise.name }}</option>
    } @empty {
      <option disabled>No exercises available</option>
    }
  </select>
</div>

  <h2 class="m-2">Tracking Data for {{ selectedExerciseName }}</h2>

  <div class="m-2">
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Load (kg)</th>
        <th>Reps</th>
        <th>Sets</th>
      </tr>
    </thead>
    <tbody>
      @for (entry of filteredTrackingEntries; track entry.id) {
        <tr>
          <td>{{ entry.date | date:'ccc - M/d/yy' }}</td>
          <td>{{ entry.loadInKg }}</td>
          <td>{{ entry.reps }}</td>
          <td>{{ entry.sets }}</td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4">No entries available for the selected exercise.</td>
        </tr>
      }
    </tbody>
  </table>
  <button (click)="openNewEntryDialog()" class="btn btn-primary m-2">New Entry</button>
</div>
</main>
