<h1 mat-dialog-title>New Entry for {{ data.selectedExerciseName }}</h1>

<div mat-dialog-content>
  <form #entryForm="ngForm">
    <mat-form-field>
      <mat-label>Date</mat-label>
      <input matInput type="date" [(ngModel)]="date" name="date" id="date" required>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Load (kg)</mat-label>
      <input matInput type="number" [(ngModel)]="load" name="load" id="load" required min="0">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Reps</mat-label>
      <input matInput type="number" [(ngModel)]="reps" name="reps" id="reps" required min="0">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Sets</mat-label>
      <input matInput type="number" [(ngModel)]="sets" name="sets" id="sets" required min="0">
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="close()">Cancel</button>
  <button mat-button (click)="save()" [disabled]="!entryForm.valid">Save</button>
</div>
